<h1>About Us</h1>

<div>
  <p>
  DCCarpool, a carpooling app that allows you to get to university and go back 
  home while sharing a car with other users. You can be a driver or just a 
  passanger, helping people to get to your same destination or letting people 
  to help you get to yours.
  </p>
  <!-- <center><%= image_tag "DCCarpoolLogo.png", height: 300 %></center> -->
  <center><%= image_tag "DCCarpool_logo_circle.png", height: 300 %></center>
</div>

<%= link_to "Back", root_path %>