// Place all the styles related to the Carpools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.carpools-index{
    display: flex;
    overflow: scroll;
    flex-direction: row;
    gap: 10px;
}

.each-carpool{
    min-width: 250px;
    padding: 20px;
    background-clip: padding-box;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
}
.circle{
    height: 128px;
    width: 128px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.5);
}

.column-item{
    float: left;
    width: 50%;
    height: 100%;
}